           

<div ng-controller="resultsAndRelationshipsController">
<div class="col-sm-12 theory">
        		<img ng-src="assets/img/{{relational_competence}}" class="max-width">
        	</div>
        	<div class="col-sm-12 theory-buttons-wrapper">
        		<div ng-class="legitimarseClass" ng-click="loadTickerInfograma('legitimarse')">
        			1
        			<span class="info">
        				Legitimarse entre si
        			</span>
        		</div>
        		<div ng-class="compromisosClass" ng-click="loadTickerInfograma('compromisos')">
        			2
        			<span class="info">
        				Honrar compromisos
        			</span>
        		</div>
        		<div ng-class="escucharnosClass" ng-click="loadTickerInfograma('escucharnos')">
        			3
        			<span class="info">
        				Escucharnos
        			</span>
        		</div>
        		<div ng-class="inferenciasClass" ng-click="loadTickerInfograma('inferencias')">
        			4
        			<span class="info">
        				Inferencias
        			</span>
        		</div>
                
        		
            </div>
</div>