 <!-- lateral nav -->
<div ng-controller="howDoWeDoThingsController">
    <ul class="lateral-nav" id="serviceButtonList">
        <li><a href="" class="lat-btn-dream active" ng-click="changeActiveButton('dream')" id='dream'></a></li>
        <li><a href="" class="lat-btn-healthy" ng-click="changeActiveButton('healthy')" id='healthy'></a></li>
    </ul>
</div>

<!-- home tittle text -->
<div class="titleText theChickenLove_font">
    <p lang="en">The only way to feel your <span lang="en">dreams </span> <pp lang="en">are coming </pp></p>
    <span lang="en">true </span> <pp lang="en">is </pp><pp lang="en">having them close to your </pp><span lang="en">mind </span><pp lang="en">and your </pp><span lang="en">eyes.</span>
</div>

<!-- video wrapper -->
<div class="videoHome clearfix relative">
    <img src="assets/img/chalkTopLeft.png" class="chalkTopLeft">
    <img src="assets/img/chalkTopRight.png" class="chalkTopRight">
    <img src="assets/img/transportador.png" class="transportador">
    <img src="assets/img/handVideo.png" class="handVideo">
    <img src="assets/img/chalk.png" class="chalk">
    <img src="assets/img/eraser.png" class="eraser">
    <img src="assets/img/legoVideoLeft.png" class="legoVideoLeft">
    <img src="assets/img/legoVideoRight.png" class="legoVideoRight">


    <div class="videoWrapper relative">
        <iframe src="https://www.youtube.com/embed/kfTyOx5TorA?rel=0&showinfo=0&controls=0" width="560" height="315" frameborder="0" allowfullscreen></iframe>
    </div>
</div>