<!-- lateral nav -->
<ul class="lateral-nav">
	<li><a href="" class="lat-btn-dreams"></a></li>
	<li><a href="" class="lat-btn-winner"></a></li>
</ul>

<!-- home tittle text -->
<div class="titleText theChickenLove_font">
    The only way to feel your <span>dreams</span> are coming <span>true</span> is
    <br> having them close to your <span>mind</span> and your <span>eyes.</span>
</div>

<!-- video wrapper -->
<div class="videoHome clearfix relative">
    <img src="assets/img/chalkTopLeft.png" class="chalkTopLeft">
    <img src="assets/img/chalkTopRight.png" class="chalkTopRight">
    <img src="assets/img/transportador.png" class="transportador">
    <img src="assets/img/handVideo.png" class="handVideo">
    <img src="assets/img/chalk.png" class="chalk">
    <img src="assets/img/eraser.png" class="eraser">
    <img src="assets/img/legoVideoLeft.png" class="legoVideoLeft">
    <img src="assets/img/legoVideoRight.png" class="legoVideoRight">


    <div class="videoWrapper relative">
        <iframe src="https://www.youtube.com/embed/kfTyOx5TorA?rel=0&showinfo=0&controls=0" width="560" height="315" frameborder="0" allowfullscreen></iframe>
    </div>
</div>