<!DOCTYPE html>
<!-- about.html -->
<div class="jumbotron text-center">

    <hr>

    <form ng-submit="getCities()">
        <select   ng-model="selectedCountry" ng-options="item as item.name for item in countries" >
            <option value="">Select a country</option>
        </select>

        <select ng-model="selectedCity" ng-options="item.city_id as item.name for item in cities">
            <option value="">Select a city</option>
        </select>
        <input type="submit" value="Submit Form">
    </form>

    <input type="button" ng-click="grabCities()">

</div>
