@font-face {
    font-family: 'the_chicken_love_storyregular';
    src: url('../fonts/the_chicken_love_story-webfont.eot');
    src: url('../fonts/the_chicken_love_story-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/the_chicken_love_story-webfont.woff2') format('woff2'),
         url('../fonts/the_chicken_love_story-webfont.woff') format('woff'),
         url('../fonts/the_chicken_love_story-webfont.ttf') format('truetype'),
         url('../fonts/the_chicken_love_story-webfont.svg#the_chicken_love_storyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.theChickenLove_font{
  font-family: 'the_chicken_love_storyregular';
}
body{
  background-image: url(../img/bg-body.jpg);
  background-position: center top;
}
a, a:hover{
  text-decoration: none;
}
/* .container{
  padding-bottom: 150px;
} */
@media (max-width: 767px) {
  .container{
    padding-bottom: 0px;
  }
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 360px;
}
.relative{
  position: relative;
}
.weight-bold{
  font-weight: 700;
}
.weight-normal{
  font-weight: normal;
}
.width-100{
	width: 100%;
}
.max-width{
	max-width: 100%;
}
.navbar-default {
  background: none;
  border: none;
  -webkit-box-shadow: 0px -10px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    0px -10px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         0px -10px 10px 0px rgba(0, 0, 0, 0.3);
}
@media (max-width: 767px) {
  .navbar-default {
    background: #f1c410;
    border: none;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow:    0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow:         0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
}
@media (min-width: 768px) {  
  .bottom-nav{
    height: 100px;
    background-image: url(../img/bg-body.jpg);
    background-position: center top;
  }
}
.navbar-default .navbar-toggle {
  border-color: #4f8ec8;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #4f8ec8;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #4f8ec8;
}
@media (min-width: 768px) {  
  .navbar-nav > li {
    margin-right: 15px;
    margin-top: 10px;
  }
  .navbar-nav > li > a {
    background-image: url(../img/bg-btn-nav.png);
    background-repeat: repeat-x;
    height: 66px;
    padding: 18px 25px 0px 25px;
  }
  .navbar-nav > li > a:hover {
    color: #fff;
    background-image: url(../img/bg-btn-nav_hover.png);
  }
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 11px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
@media (max-width: 767px) {
  .nav > li:hover {
    background-color: #f18b10;
  }
}
.navbar-fixed-bottom .container {
  position: relative;
}
.socialMedia{
  position: absolute;
  top: -100px;
  left: 20px;
  width: 126px;
  height: 91px;
  background-image: url(../img/bgRedes.png);
}
@media (max-width: 767px) {  
  .socialMedia{
    top: -95px;
    left: 10px;
  }
}
.socialMedia .title{
  width: 93%;
  height: auto;
  text-align: center;
  color: #5391cb;
  font-size: 23px;
  line-height: 23px;
}
.facebookBtn, .twitterBtn, .youtubeBtn{
  position: absolute;
  display: block;
  top: 36px;
  width: 34px;
  height: 39px;
  transition: all 0.3s ease;
}
.facebookBtn img, .twitterBtn img, .youtubeBtn img{
  width: 100%;
}
.facebookBtn{
  left: 3px;
}
.twitterBtn{
  left: 40px;
}
.youtubeBtn{
  left: 77px;
}
.facebookBtn:hover, .twitterBtn:hover, .youtubeBtn:hover{
  width: 40px;
  height: 47px;
  top: 33px;
}
.facebookBtn:hover{
  left: 0px;
}
.twitterBtn:hover{
  left: 37px;
}
.youtubeBtn:hover{
  left: 74px;
}
.rights{
  background-color: #fff;
  height: 60px;
  line-height: 60px;
  color: #666666;
}
.rights span{
  color: #5aa8e6;
}
.topNav{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 470px;
  height: auto;
}
.language1, .language2, .contactUs, .logIn{
  display: block;
  position: absolute;
  top: 0px;
  width: 162px;
  height: 36px;
  color: #fff;
  text-align: center;
  line-height: 36px;
  background-position: 0px 0px;
  background-image: url(../img/topNavBtn_bg.png);
}
.language1{
	background-position: 0px -36px;
	color: #999;
}
.language2:hover{
  color: #ffd012;
}
.language1{
  left: 0px;
}
.language2{
  left: 112px;
}
.contactUs{
  left: 224px;
  color: #999;
  background-position: 0px -36px;
}
.logIn{
  top: -3px;
  left: 346px;
  width: 222px;
  background-image: url(../img/topNavBtnLogin_bg.png);
}
.logIn:hover{
  color: #ffd012;
}
.logIn img{
  display: inline-block;
}
.logoHeader{
  position: absolute;
  display: block;
  width: 186px;
  height: auto;
  top: 10px;
  left: 40px;
}
.logoHeader img{
  width: 100%;
}
@media (max-width: 767px) {  
  .logoHeader{
    left: 10px;
    width: 80px;
  }
}
.lateral-nav{
	position: absolute;
	top: 170px;
	left: 40px;
	width: 110px;
	height: 300px;
	list-style: none;
	padding: 0px;
	z-index: 1000;
}
@media (max-width: 767px) {  
	.lateral-nav{
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		height: auto;
		text-align: center;
	}
	.lateral-nav li{
		width: 110px;
		height: 110px;
		display: inline-block;
	}
}
.lateral-nav a{
	display: block;
	width: 110px;
	height: 110px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.lateral-nav a:hover{
	background-position: 0px -110px;
}
.lateral-nav a.active{
	background-position: 0px -110px !important;
}
.lat-btn-dreams{
	background-image: url(../img/lat-btn-dreams.png);
}
.lat-btn-winner{
	background-image: url(../img/lat-btn-winner.png);
}
.lat-btn-rr{
	background-image: url(../img/lat-btn-rr.png);
}
.lat-btn-felicidad{
	background-image: url(../img/lat-btn-felicidad.png);
}
.lat-btn-roi{
	background-image: url(../img/lat-btn-roi.png);
}
.titleText{
  width: 100%;
  height: auto;
  margin-top: 90px;
  text-align: center;
  font-size: 32px;
  line-height: 28px;
  color: #fff;
}
.titleText span{
  color: #efc24c;
}
.videoHome{
  margin: 10px auto 10px auto;
  max-width: 635px;
  height:auto;
}
.videoWrapper{
  padding-bottom: 56.25%;
  padding-top: 30px; 
  height: 0; 
  overflow: hidden;
}
.videoWrapper iframe,
.videoWrapper object,
.videoWrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.chalkTopLeft{
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 1;
}
.chalkTopRight{
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 1;
}
.handVideo{
  position: absolute;
  top: -126px;
  right: -181px;
  z-index: 1;
}
.transportador{
  position: absolute;
  top: 53px;
  right: -105px;
}
.chalk{
  position: absolute;
  top: 168px;
  right: -133px;
}
.eraser{
  position: absolute;
  top: 188px;
  left: -106px;
}
.legoVideoLeft{
  position: absolute;
  bottom: -38px;
  left: -25px;
}
.legoVideoRight{
  position: absolute;
  bottom: -35px;
  right: -39px;
}
@media (max-width: 767px) {  
  .handVideo, .chalk, .eraser, .transportador, .legoVideoRight, .legoVideoLeft, .clip, .legoTopLeft{
    display: none;
  }
}
#loginModal .modal-content{
  background-color: #cacaca;
  border-radius: 20px;
}
#loginModal .close{
  opacity: 1;
}
#loginModal .modal-body{
  min-height: 280px;
  background-position: right center;
  background-image: url(../img/bgModalLogin.png);
  background-repeat: no-repeat;
}
#loginModal .modalEnter{
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -118px;
  width: 237px;
  height: 52px;
  background: none;
  background-image: url(../img/bgBtnEnterModal.png);
  font-size: 38px;
  line-height: 50px;
  text-align: center;
  text-decoration: underline;
  color: #908e8e;
  border: 0px;
}
/*** who are we ***/
.who-we-are{
  margin-top: 90px;
}
.legoWhoTopRightUp, .legoWhoTopRightDown{
	position:absolute;
	top:-19px;
	left: 119px;
}
.legoWhoTopRightDown{
	top:369px;
	left:36px;
}
.who-we-are .transportador{
	top:-50px;
	right:105px;
}
.who-we-are .chalk{
	top:-30px;
	right:80px;
}
.who-we-are .legoVideoRight{
	bottom:323px;
	right:7px;
}
.arrowLeftWho{
	position:absolute;
	top: -25px;
	left:45px;
}
.whoTextWrapper{
  padding-top: 80px;
	width:403px;
	height:402px;
	background-image:url(../img/about-us-scroll-bg.png);
	background-repeat:no-repeat;
	background-position:top center;
}
.who-text-info-wrapper{
	width:240px;
	height:260px;
}
.who-name{
  font-size: 32px;
  color: #fff;
  line-height: 32px;
}
.who-name span{
  font-size: 48px;
  color: #f0cb31;
}
.who-position{
  color: #f0cb31;
  font-size: 18px;
}
.who-info{
  width: 100%;
  height: 200px;
  overflow-y:scroll;
  font-size: 12px;
  color: #fff;
	padding-right: 10px;
}
.who-image-wrapper{
	margin:30px 0px 10px 0px;
	width:100%;
	height:259px;
}
.who-image-wrapper img{
	position:absolute;
	top:0px;
	right:-85px;
	z-index:2;
}
.who-pin-members{
	width:100%;
	height:auto;
  margin-bottom: 30px;
	color:#fff;
	text-align:center;
}
.who-pin-members a{
	position:relative;
	display:inline-block;
  margin: 0px 5px;
	width:29px;
	height:31px;
	background-image:url(../img/pin.png);
	background-position:0px 0px;
}
.who-pin-members a:hover{
  background-position:0px -31px;
}
.who-pin-members a:hover span{
	display:block;
}
.who-pin-members a span{
  display: none;
	position:absolute;
	top:25px;
	left:-22px;
	width:70px;
	height:auto;
	color:#fff;
	text-align:center;
	text-decoration:none;
}
.who-pin-members a.active{
	background-position:0px -31px !important;
}
@media (max-width: 767px) {
  .arrowLeftWho, .legoWhoTopRightUp{
    display: none;
  }
  .whoTextWrapper{
    width: 100%;
    float: none !important;
    margin: 0px auto 150px auto;
  }
  .who-image-wrapper{
    margin:30px 0px 10px 0px;
    width:100%;
  }
  .who-image-wrapper img{
    position:absolute;
    top:0px;
    right:50%;
    margin-right: -129px;
  }
}
.theory-wrapper{
	margin-top: 50px;
}
.theory-wrapper .eraser{
	top: 438px;
  left: 126px;
}
.theory-wrapper .chalk{
	top: 333px;
  left: 50%;
	margin-left: 300px;
}
.theory-wrapper .transportador{
	top: 232px;
  left: 50%;
	margin-left: 300px;
}
.theory-wrapper .legoVideoLeft{
  bottom: -59px;
  left: 212px;
}
.clip{
	position: absolute;
	top: 222px;
  left: 50%;
	margin-left: 270px;
}
.theory-wrapper .legoVideoRight{
	bottom: -30px;
  right: 146px;
}
.theory-wrapper .legoTopLeft{
	position: absolute;
	top: 130px;
  left: 190px;
}
.theory{
	max-height: 375px;
	text-align: center;
}
.theory img{
	display: inline-block;
	/* position: absolute;
	top: 0px; 
	left: 50%;
	margin-left: -50%; */
}
.theory-buttons-wrapper{
	text-align:center;
}
.theory-button{
	position: relative;
	display: inline-block;
	width: 92px;
	height: 87px;
	background-position: 0px 0px;
	background-image: url(../img/teoria-btn.png);
	font-size: 50px;
	color: #fff;
	cursor: pointer;
	line-height: 45px;
  padding-left: 34px;
	margin: 0px 3px;
}
.theory-button:hover{
	background-position: 0px -87px;
}
.theory-button.active{
	background-position: 0px -87px !important;
}
.theory-button .info{
	display: none;
	position: absolute;
	width: 110px;
	height: auto;
	text-align: center;
	font-size: 21px;
	bottom: -14px;
  line-height: 14px;
  left: -30px;
}
.theory-button:hover .info{
	display: inline-block;
}
.companyWrapper{
  margin: 10px auto 10px auto;
  width: 800px;
  max-width: 100%;
  height:380px;
  max-height: 100%;
}
.companyPagesWrapper{
  margin: 10px;
  width: 100%;
  height: auto;
  max-height: 97%;
  overflow-y: auto;
}
.pageContainer{
  float: left;
  width: 120px;
  height: 129px;
  position: relative;
}
.pageCompany{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  transition: all 0.5s ease;
  cursor: pointer;
}
.pageContainer:hover .pageCompany{
  top: 0%;
  left: 0%;
  width: 100%;
}
.pageContent{
	position: absolute;
	top: 28%;
	left: 20%;
	width: 60%;
	height: 45%;
  transition: all 0.5s ease;
}
.pageContent img{
	display: inline-block;
	text-align: center;
	height: 100%;
}
.pageContainer:hover .pageContent{
  top: 22%;
  left: 10%;
  width: 80%;
	height: 55%;
}
