<!-- leaderView.html -->
<div style="width:800px; margin:0 auto;">

    <br><br><br><br><br><br><br><br><br><br><br>

    <form action="http://localhost:8080/TickerCore/rest/dreamsEndpoint/upload" method="post" enctype="multipart/form-data">
        file:
        <br>
        <input type="file" name="file" multiple="multiple">

        <input type="submit" value="send">
    </form>


    <select ng-model="selectedCountry" ng-options="item as item.name for item in countries" ng-change="grabCities()">
        <option value="">Select a country</option>
    </select>

    <select ng-model="selectedCity" ng-options="item.city_id as item.name for item in cities">
        <option value="">Select a city</option>
    </select>
    <input type="submit" value="Submit Form">


</div>