<div ng-controller="teamController" class="row">

    <!--AngularJS SPA CRUD table-->
    <table class="table table-condensed table-hover table-striped" ng-hide="loading">
        <!-- Header-->
        <tr class="panel-title">
            <!--Buttons column-->
            <th style="width: 100px;">
                <!--Add + Cancel-->
                <div class="btn-toolbar"><i class="btn glyphicon glyphicon-plus" ng-click="toggleAddMode()" title="Add" ng-hide="addMode"></i>
                </div>
                <div class="btn-toolbar"><i class="btn glyphicon glyphicon-minus" ng-click="toggleAddMode()" title="Cancel" ng-show="addMode"></i>
                </div>
            </th>

            <!-- Content columns-->
            <th style="vertical-align:middle">Team</th>
            <th style="vertical-align:middle">Country</th>
            <th style="vertical-align:middle">City</th>
            <th style="vertical-align:middle">Company</th>
        </tr>

        <!--Row with the new item-->
        <tr ng-show="addMode" style="background: rgb(251, 244, 222)">
            <!--Buttons column-->
            <td>
                <div class="btn-toolbar">
                    <!--Create + Cancel-->
                    <div class="btn-group">
                        <i class="btn glyphicon glyphicon-floppy-disk" ng-click="createItem()" title="Create" ng-disabled="addForm.$invalid"></i>
                        <i class="btn glyphicon glyphicon-remove" ng-click="toggleAddMode()" title="Cancel"></i>
                    </div>
                </div>
            </td>
            <!-- Content columns-->
            <td>
                <form name="addForm">
                    <input type="text" ng-model="newTeam.name" class="form-control" required placeholder="input the company name" ng-keydown="saveOnEnter(company, $event)" required />                    
                </form>
            </td>
             <td>
                <form name="addForm">                   
                    <select ng-model="newTeam.country.country_id" ng-options="item.country_id as item.name for item in countries" ng-change="grabCities()">
                        <option value="">Select a country</option>
                    </select>
                </form>
            </td>
            <td>
                <form name="addForm">                   
                    <select ng-model="newTeam.city.city_id" ng-options="item.city_id as item.name for item in cities"  ng-change="grabCompanies()">
                        <option value="">Select a city</option>
                    </select>
                </form>
            </td>
            <td>
                <form name="addForm">                   
                    <select ng-model="newTeam.company.company_id" ng-options="item.company_id as item.name for item in companies"  ng-change="createTeam()">
                        <option value="">Select a company</option>
                    </select>
                </form>
            </td>
        </tr>

        <!--Content-->
        <tr ng-repeat="team in teams">
            <!--Buttons column-->
            <td>
                <!--Edit + Delete-->
                <div class="btn-toolbar" ng-show="company.editMode == null || company.editMode == false">
                    <div class="btn-group">
                        <i class="btn glyphicon glyphicon-edit" ng-click="toggleEditMode(company)" title="Edit"></i>
                        <i class="btn glyphicon glyphicon-trash" ng-click="deleteItem(company)" title="Delete" data-toggle="modal"></i>
                    </div>
                </div>

                <!--Save + Cancel-->
                <div class="btn-toolbar" ng-show="company.editMode">
                    <div class="btn-group">
                        <i class="btn glyphicon glyphicon-floppy-disk" ng-click="updateItem(company)" title="Save" ng-disabled="editForm.$invalid"></i>
                        <i class="btn glyphicon glyphicon-remove" ng-click="toggleEditMode(company)" title="Cancel"></i>
                    </div>
                </div>
            </td>

            <!-- Content columns-->
            <!-- Company -->
            <td style="vertical-align:middle">
                <!--Name read mode-->
                <span ng-show="team.editMode == null || team.editMode == false" ng-dblclick="toggleEditMode(team)">
                        {{team.name}}
                    </span>
                <!--Name edit mode-->
                <form name="editForm">
                    <input ng-model="team.name" ng-show="team.editMode" required ng-keydown="updateOnEnter(team, $event)" class="form-control" />
                </form>
            </td>
            <!-- Country -->
            <td style="vertical-align:middle">
                <!--Name read mode-->
                <span ng-show="team.editMode == null || team.editMode == false" ng-dblclick="toggleEditMode(team)">
                        {{team.countryDTO.name}}
                    </span>
                <!--Name edit mode-->
                <form name="editForm">
                    <input ng-model="team.name" ng-show="team.editMode" required ng-keydown="updateOnEnter(team, $event)" class="form-control" />
                </form>
            </td>
            <!-- City -->
            <td style="vertical-align:middle">
                <!--Name read mode-->
                <span ng-show="team.editMode == null || team.editMode == false" ng-dblclick="toggleEditMode(team)">
                        {{team.cityDTO.name}}
                    </span>
                <!--Name edit mode-->
                <form name="editForm">
                    <select ng-model="city" ng-show="team.editMode" ng-options="city as city.name for city in team.cityDTO" ng-change="grabCities()" class="form-control" >
                        <option value="">{{team.cityDTO.name}}</option>
                    </select>
               
                </form>
            </td>
             <!-- Company -->
            <td style="vertical-align:middle">
                <!--Name read mode-->
                <span ng-show="team.editMode == null || team.editMode == false" ng-dblclick="toggleEditMode(team)">
                        {{team.companyDTO.name}}
                    </span>
                <!--Name edit mode-->
                <form name="editForm">
                    <select ng-model="company" ng-show="team.editMode" ng-options="company as company.name for company in team.companyDTO" ng-change="grabCities()" class="form-control" >
                        <option value="">{{team.companyDTO.name}}</option>
                    </select>
               
                </form>
            </td>
        </tr>
    </table>

    <!--Loading indicator-->
    <img src="../../../../../assets/img/loading.gif" ng-show="loading" class="center-block" title="Loading..." />

</div>